<!DOCTYPE html>
<html lang="ko">

<head>
    <title>JOONGGO MARKET</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />

    <!-- Favicon icon -->
    <link rel="icon" href="/src/main/resources/static/images/market_favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">

    <!-- linear icon css -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!-- Required Js -->
    <script src="/src/main/resources/static/js/vendor-all.min.js" defer></script>
    <script src="/src/main/resources/static/js/plugins/bootstrap.min.js" defer></script>
    <script src="/src/main/resources/static/js/ripple.js" defer></script>
    <script src="/src/main/resources/static/js/pcoded.min.js" defer></script>

</head>

<body class="loader-fill">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class=""></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->


    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar menu-light">
        <div class="navbar-wrapper">
            <div class="navbar-content scroll-div">
                <div class="">
                    <div class="main-menu-header">
                        <img class="img-radius" src="/src/main/resources/static/images/user/user_basic.png"
                            alt="User-Profile-Image">
                        <div class="user-details">
                            <div id="more-details">둘리</div>
                        </div>
                    </div>
                </div>
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>나의 당근</label>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">홈</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>채팅</label>
                    </li>
                    <li class="nav-item">
                        <a href="form_elements.html" class="nav-link "><span class="pcoded-micon">
                            <i class="feather icon-message-circle"></i></span><span
                                class="pcoded-mtext">채팅하기</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>동네생활</label>
                    </li>
                    <li class="nav-item"><a href="sample-page.html" class="nav-link "><span class="pcoded-micon">
                        <i class="feather icon-layout"></i></span><span class="pcoded-mtext">동네생활
                                게시판</span></a></li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>마이페이지</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link has-ripple"><span class="pcoded-micon">
                            <i class="feather icon-lock"></i></span>
                            <span class="pcoded-mtext">프로필</span></a>
                        <ul class="pcoded-submenu">
                            <li><a href="#" target="_blank">구매내역</a></li> <!-- 구매내역 상세페이지 만들기-->
                            <li><a href="#" target="_blank">판매내역</a></li> <!-- 판매내역 상세페이지 만들기-->
                            <li><a href="#" target="_blank">관심상품</a></li> <!-- 관심상품 상세페이지 만들기-->
                            <li><a href="#" target="_blank">프로필</a></li> <!-- 프로필 상세페이지 만들기 (정보수정)-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->


    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#!" class="b-brand">
                <img src="/src/main/resources/static/images/logo.png" alt="로고이미지" class="logo">
                <img src="/src/main/resources/static/images/logo-icon.png" alt="로고이미지" class="logo-thumb">
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- <a href="#!" class="pop-search"><i class="feather icon-search"></i></a> -->
                    <div class="search-bar">
                        <input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i
                                class="icon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">알림</h6>
                                <div class="float-right">
                                    <a href="#!" class="m-r-10">모두 읽음으로 표시</a>
                                </div>
                            </div>
                            <ul class="noti-body">
                                <li class="n-title">
                                    <p class="m-b-0">새로운 알림</p>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="/src/main/resources/static/images/user/memoji1.png"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>John Doe</strong><span class="n-time text-muted"><i
                                                        class="icon feather icon-clock m-r-10"></i>5분 전</span></p>
                                            <p>새로운 글 등록</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="n-title">
                                    <p class="m-b-0">최근 알림</p>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="/src/main/resources/static/images/user/memoji2.png"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>둘리</strong><span class="n-time text-muted"><i
                                                        class="icon feather icon-clock m-r-10"></i>10분 전</span></p>
                                            <p>새로운 채팅 1건</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="/src/main/resources/static/images/user/memoji1.png"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>고길동</strong><span class="n-time text-muted"><i
                                                        class="icon feather icon-clock m-r-10"></i>12분 전</span></p>
                                            <p>내 글 좋아요</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="/src/main/resources/static/images/user/memoji2.png"
                                            alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>하이</strong><span class="n-time text-muted"><i
                                                        class="icon feather icon-clock m-r-10"></i>30분 전</span></p>
                                            <p>새로운 채팅 1건</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="noti-footer">
                                <a href="#!">더보기</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="/src/main/resources/static/images/user/user_basic.png" class="img-radius"
                                    alt="User-Profile-Image">
                                <span>John Doe</span>
                                <a href="auth-signin.html" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="user-profile.html" class="dropdown-item"><i class="feather icon-user"></i>
                                        Profile</a></li>
                                <li><a href="email_inbox.html" class="dropdown-item"><i class="feather icon-mail"></i>
                                        My Messages</a></li>
                                <li><a href="auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i>
                                        Lock Screen</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </header>
    <!-- [ Header ] end -->



    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h2 class="m-b-10" id="home">JOONGGO MARKET</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->


            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- project ,team member start -->
                <div class="col-xl-6 col-md-12">
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>최신글</h5>
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!">
                                                <span><i class="feather icon-maximize"></i> maximize</span>
                                                <span style="display:none"><i class="feather icon-minimize"></i>
                                                    Restore</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!">
                                                <span><i class="feather icon-minus"></i> collapse</span>
                                                <span style="display:none"><i class="feather icon-plus"></i>
                                                    expand</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i
                                                    class="feather icon-refresh-cw"></i> reload</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i
                                                    class="feather icon-trash"></i> remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th>IMAGE</th>
                                            <th>TITLE</th>
                                            <th>PRICE</th>
                                            <th>USER NAME</th>
                                            <th>DATE</th>
                                            <th>REGION</th>
                                            <th>LIKES</th>
                                            <th>CHAT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <div class="d-inline-block product">
                                                    <img src="/src/main/resources/static/images/product/apple.jpg"
                                                        alt="user image"
                                                        class="img-radius wid-80 hei-70 align-top m-r-15">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h6>애플워치 판매합니다.</h6>
                                                </div>
                                            </td>
                                            <td>100,000</td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    도우너
                                                </div>
                                            </td>
                                            <td>2021/06/10</td>
                                            <td>봉명동</td>
                                            <td>
                                                <span class="lnr lnr-heart"> 1</span>
                                            </td>
                                            <td>
                                                <span class="lnr lnr-bubble"> 2</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <div class="d-inline-block product">
                                                    <img src="/src/main/resources/static/images/product/notebook.jpg"
                                                        alt="user image"
                                                        class="img-radius wid-80 hei-70 align-top m-r-15">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h6>갤럭시 노트북 판매합니다.</h6>
                                                </div>
                                            </td>
                                            <td>1650,000</td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    고길동
                                                </div>
                                            </td>
                                            <td>2021/06/09</td>
                                            <td>도룡동</td>
                                            <td>
                                                <span class="lnr lnr-heart"> 1</span>
                                            </td>
                                            <td>
                                                <span class="lnr lnr-bubble"> 2</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>
                                                <div class="d-inline-block product">
                                                    <img src="/src/main/resources/static/images/product/nintendo.jpg"
                                                        alt="user image"
                                                        class="img-radius wid-80 hei-70 align-top m-r-15">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h6>닌텐도 판매합니다.</h6>
                                                </div>
                                            </td>
                                            <td>500,000</td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    노홍철
                                                </div>
                                            </td>
                                            <td>2021/06/08</td>
                                            <td>둔산동</td>
                                            <td>
                                                <span class="lnr lnr-heart"> 1</span>
                                            </td>
                                            <td>
                                                <span class="lnr lnr-bubble"> 2</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>
                                                <div class="d-inline-block product">
                                                    <img src="/src/main/resources/static/images/product/sofa.jpg"
                                                        alt="user image"
                                                        class="img-radius wid-80 hei-70 align-top m-r-15">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h6>소파 판매합니다.</h6>
                                                </div>
                                            </td>
                                            <td>200,000</td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    둘리
                                                </div>
                                            </td>
                                            <td>2021/06/07</td>
                                            <td>용문동</td>
                                            <td>
                                                <span class="lnr lnr-heart"> 3</span>
                                            </td>
                                            <td>
                                                <span class="lnr lnr-bubble"> 1</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>
                                                <div class="d-inline-block product">
                                                    <img src="/src/main/resources/static/images/product/samsung.jpg"
                                                        alt="user image"
                                                        class="img-radius wid-80 hei-70 align-top m-r-15">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h6>갤럭시 판매합니다.</h6>
                                                </div>
                                            </td>
                                            <td>800,000</td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    하이
                                                </div>
                                            </td>
                                            <td>2021/06/07</td>
                                            <td>둔산동</td>
                                            <td>
                                                <span class="lnr lnr-heart"> 3</span>
                                            </td>
                                            <td>
                                                <span class="lnr lnr-bubble"> 1</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>

    <!-- Required Js -->
    <script src="assets/js/vendor-all.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/ripple.js"></script>
    <script src="assets/js/pcoded.min.js"></script>

    <!-- Apex Chart -->
    <!-- <script src="assets/js/plugins/apexcharts.min.js"></script> -->


    <!-- custom-chart js -->
    <!-- <script src="assets/js/pages/dashboard-main.js"></script> -->


</body>

</html>